@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700&display=swap');
/*reset*/
* {padding: 0; margin: 0;}


body {font-family: 'Roboto', sans-serif;}

.wrap {
    width: 100vw;
    height: 100vh;
    background: #E6E9FA;
}

.header{
    width: 100%;
    height: 5%;
    background: red;
}

.container{
    width:100%;
    height: 95%;
    background: blue;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.left-area{
    float: left;
    width: 5%;
    height: 100%;
    margin: 4px;
    background: green;
}

.center-area{
    float: left;
    width: 60%;
    height: 100%;
    margin: 4px;
    background: yellow;
}

.right-area{
    float: left;
    width: 32%;
    height: 100%;
    margin: 4px;
    background: violet;
}

.chats {
    background: white;
	height: 90%;
	padding: 5px;
	margin-top: 5px;
	border-radius: 1px;
	overflow-y: scroll;
	transition: 0.2s;
}

.chat-footer{
    height: 50px;
	width: 100%;
    background: tomato;    
}

.keypad {
	height: 50px;
	width: 90%;
    background: darkblue;
}

#keypad {
    height: 50px;
    width: 99%;
}

@keyframes animateElement {
	0% {
		opacity: 0;
		transform: translate(0px, 10px);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

.send-wrapper{
    height: 50px;
    width: 50px;
    float: right;
    background: darkcyan;
}