<!DOCTYPE html>
<html>
  <head>
    <title>ChatBot</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/chat.css')}}"
    />
    <!--Main css-->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/materialize.min.css')}}"> -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/ab9bbc0a6d.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="modal" class="modal-overlay">
        <div class="modal-window">
          <div class="modal-header">
            <div class="modal-title">
              <img src="../static/img/botAvatar.png"/>
            </div>
            <div class="modal-close-area">X</div>
          </div>
            <div class="modal-content">
              <div class="modal-sub-area">
                <p class="modal-sub-content">
                  I'm meorable and emotional chatbot using transfer learning (fine tune GPT-2 345M)
                </p>
              </div>
              <hr>
            <div class="modal-sub-area">
              <p class="modal-sub-title">
                Q. How to use Wikipedia
              </p>
              <br>
              <p class="modal-sub-content">
                A. Ask like "What is the disease [disease]"
              </p>
            </div>
            <hr>
            <div class="modal-sub-area">
              <p class="modal-sub-title">
                Q. How to get other response
              </p>
              <br>
              <p class="modal-sub-content">A. You want to get picture ask to chatbot like "Do you have something funny?"</p>
              <br>
              <p class="modal-sub-content">A. You want to get sound ask to chatbot like "I want to hear your reaction"</p>
              <br>
              <p class="modal-sub-content">A. You want to get quote ask to chatbot like "What is your life motto?"</p>
            </div>
            </div>
        </div>
    </div>
    <div class="wrap">
      <header class="header">
        <!-- header -->
        <nav class="nav-wrapper">
          <a class="back" href="/">
            <i class="fas fa-chevron-left" id="refresh-icon"></i>
          </a>
          <div class="nav-inner">
            <div class="question">
               <i class="fas fa-question" id="btn-modal"></i>
            </div>
            <a class="refresh" href="/english">
               <i class="fas fa-redo"></i>
            </a>
         </div>
        </nav>
      </header>
      <div class="container">
        <section class="center-area">
          <div class="chat_header"></div>

          <div class="chats" id="chats"></div>

          <div class="chat-footer">
            <div class="keypad">
              <input
                type="text"
                id="keypad"
                class="usrInput browser-default"
                placeholder="Type a message and Press 'Enter' key..."
                autocomplete="off"
              />
            </div>
            <div class="send-wrapper">
              <button class="send"><i class="fas fa-paper-plane"></i></button>
            </div>
          </div>
        </section>
        <section class="right-area">
          <div class="card">
            <img
              id="chbot-character-img"
              class="chbot-img"
              src="{{ url_for('static',filename='img/botAvatar.png')}}"
              alt="chatbot logo"
            />
            <h1 class="intro">Hi I'm ChatBot!</h1>
            <div class="description">
              <div class = "audio-wrap">
                <div>
                  <span class="audio-title">Audio</span>
                  <div class="audio-box">
                    <audio controls id="chatbot-audio" autoplay></audio>
                    <div class="audio-switch-box">
                      <p>OFF</p> 
                      <label class="audio-switch">
                        <input id="audio-checkbox" type="checkbox" />
                        <span class="slider round"></span>
                      </label>
                      <p>ON</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-wrap">
                <span class="video-title">Video</span>
                <div class="image-box">
                  <video controls autoplay src="" class="user-video" onerror="this.style.display='none'">
                </div>
                <div class="switch-box">
                  <p>OFF</p> 
                  <label class="switch">
                    <input id="video-checkbox" type="checkbox" />
                    <span class="slider round"></span>
                  </label>
                  <p>ON</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/materialize.min.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/ui.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/setCamera.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/send.js')}}"
    ></script> 
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/timer.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/setAudio.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/helperModal.js') }}"
    ></script>
  </body>
</html>
