<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHATBOT</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/index.css')}}"
    />
  </head>

  <body>
    <main class="wrap">
      <section class="contents">
        <article class="card">
          <h1>Hi I'm ChatBot!</h1>

          <img
            id="chbot-character-img"
            src="{{ url_for('static',filename='img/botAvatar.png')}}"
            alt="chatbot logo"
          />

          <br />
          <a href="/chat" class="a-btn">
            <div class="button-box">
              <!-- <a href="/text">Text version</a> -->
              <span> Text version </span>
            </div>
          </a>

          <br />
          <a href="/realtime" class="a-btn">
            <div class="button-box">
              <span> Mic version </span>
            </div>
          </a>

          <br />
          <a href="/korean" class="a-btn">
            <div class="button-box">
              <span> Korean version </span>
            </div>
          </a>

          <br />
          <a href="/korean_mic" class="a-btn">
            <div class="button-box">
              <span> Korean Mic version </span>
            </div>
          </a>
        </article>
      </section>
    </main>
  </body>
</html>
