<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHATBOT</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/index.css')}}"
    />
  </head>

  <body>
    <main class="wrap">
      <section class="contents">
        <article class="card">
          <h1>Hi, I am a Chatbot.</h1>

          <img
            id="chbot-character-img"
            src="{{ url_for('static',filename='img/botAvatar.png')}}"
            alt="chatbot logo"
          />

          <br />
          <a href="/english" class="a-btn">
            <div class="button-box">
              <span> Text version (en) </span>
            </div>
          </a>

          <!-- <br />
          <a href="/korean" class="a-btn">
            <div class="button-box">
              <span> Text version (ko) </span>
            </div>
          </a> -->
        </article>
      </section>
    </main>
  </body>
</html>
