<!DOCTYPE html>
<html>
   <head>
      <title>ChatBot</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css')}}">
      
      <!--Main css-->
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/materialize.min.css')}}">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <style type="text/css">
        
         .pids-wrapper{
             width: 100%;
         }
         .pid{
             width: calc(10% - 10px);
             height: 10px;
             display: inline-block;
             margin: 5px;
         }    
     </style>
   </head>
   <body>
      <div class="pids-wrapper">
         <div class="pid"></div>
         <div class="pid"></div>
         <div class="pid"></div>
         <div class="pid"></div>
         <div class="pid"></div>
         <div class="pid"></div>
         <div class="pid"></div>
         <div class="pid"></div>
         <div class="pid"></div>
         <div class="pid"></div>
       </div>
      <div class="container">
         <div class="widget">
            <div class="chat_header">
               <!--Add the name of the bot here -->
               <span style="color:white;margin-left: 5px;" id="audioController">ChatBot </span>
               <span style="color:white;margin-right: 5px;float:right;margin-top: 5px;" id="close">
               <i class="material-icons">close</i>
               </span>
            </div>
            <!--Chatbot contents goes here -->
            <div class="chats" id="chats">
               <div class="clearfix"></div>
            </div>
            <!--user typing indicator -->
            <div class="keypad" >
               <input type="text" id="keypad" class="usrInput browser-default" placeholder="Type a message..." autocomplete="off">
            </div>
         </div>
         <!--bot widget -->
         <div class="profile_div" id="profile_div">
            <img class="imgProfile" src="{{ url_for('static',filename='img/botAvatar.png')}}"/>
         </div>
      </div>
      <!--JavaScript at end of body for optimized loading-->
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js')}}"></script>
      <!--Main Script -->
      <!-- <script type="text/javascript" src="{{ url_for('static',filename='js/script.js')}}"></script> -->
      <script type="text/javascript" src="{{ url_for('static',filename='js/realtime.js')}}"></script>


   </body>
</html>
